@import "config";
@import "menu";

* {
  box-sizing: border-box;
}

body {
  @include background();
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

// Headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
  &.lg-heading {
    font-size: 6rem;
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: lighten($primary-color, 2);
    width: fit-content;
  }
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 4rem;
  max-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;

  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;

      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }

  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }
}

.portrait-img {
  position: fixed;
  bottom: 0;
  right: 100px;
  width: 800px;
  height: auto;

  @include mediaLg {
    width: 50vw;
    right: 0;
    bottom: 0;
  }

  @include mediaMd {
    position: static;
    width: 40vw;
    margin-top: 1rem;
    margin-bottom: 0;
  }

  @include mediaSm {
    position: static;
    width: 50vw;
    margin-top: 1rem;
    margin-bottom: 0;
  }
}

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    "bioimage bio bio"
    "job1 job2 job3"
    "email phone address";
  grid-template-columns: repeat(3, 1fr);

  .bio-image {
    grid-area: bioimage;
    width: 250px;
    height: 250px;
    margin: auto;
    border-radius: 50%;
    border: $secondary-color 3px solid;
  }

  .bio {
    grid-area: bio;
    font-size: 1.5rem;
  }

  .job1 {
    grid-area: job1;
  }

  .job2 {
    grid-area: job2;
  }

  .job3 {
    grid-area: job3;
  }

  .job {
    background: lighten($primary-color, 5);
    padding: 0.5rem;
    border-bottom: $secondary-color 5px solid;
  }
  .meticulous,
  .curiosity,
  .people-driven {
    font-size: 2.2rem;
    color: $secondary-color;
    margin-bottom: 0.5rem;
  }

  .job h6 {
    font-size: 1.4rem;
    margin-top: 0;
    margin-bottom: 1rem;
  }
  .email-box {
    grid-area: email;
    div {
      font-size: 2rem;
      border: 3px #fff solid;
      padding: 1.5rem 2.5rem;
      margin-bottom: 3rem;
      @include easeOut;

      &:hover {
        padding: 0.5rem 1.5rem;
        background: $secondary-color;
        color: set-text-color($secondary-color);
        span {
          color: set-text-color($secondary-color);
        }
      }
    }
  }
  .phone-box {
    grid-area: phone;
    div {
      font-size: 2rem;
      border: 3px #fff solid;
      padding: 1.5rem 2.5rem;
      margin-bottom: 3rem;
      @include easeOut;

      &:hover {
        padding: 0.5rem 1.5rem;
        background: $secondary-color;
        color: set-text-color($secondary-color);
        span {
          color: set-text-color($secondary-color);
        }
      }
    }
  }
  .address-box {
    grid-area: address;
    div {
      font-size: 2rem;
      border: 3px #fff solid;
      padding: 1.5rem 2.5rem;
      margin-bottom: 3rem;
      @include easeOut;

      &:hover {
        padding: 0.5rem 1.5rem;
        background: $secondary-color;
        color: set-text-color($secondary-color);
        span {
          color: set-text-color($secondary-color);
        }
      }
    }
  }
}

.projects {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(3, 1fr);
  justify-items: start;

  .item {
    position: relative;
    width: 100%;
    height: 100%;
    perspective: 1000px;

    .flip-card {
      position: relative;
      width: 100%;
      height: auto;
      aspect-ratio: 16 / 9;
      background-color: transparent;
      transition: transform 0.8s;
      transform-style: preserve-3d;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        cursor: pointer;
      }

      &.flipped .flip-card-inner {
        transform: rotateY(180deg);
      }

      .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .flip-card-front,
      .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 3px solid #fff;
        overflow: hidden;
      }

      .flip-card-front {
        background-color: #bbb;
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
          border-color: $secondary-color;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          box-sizing: border-box;

          &:hover {
            border-color: $secondary-color;
          }
        }
      }

      .flip-card-back {
        background-color: $primary-color;
        color: #fff;
        transform: rotateY(180deg);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0.5rem;
        max-height: 100%;

        h3 {
          font-size: calc(0.8rem + 0.5vw);
          margin: 0.5rem 0;
          padding: 0.2rem;
          word-wrap: break-word;
          white-space: normal;
          max-width: 100%;
        }

        p {
          font-size: calc(0.6rem + 0.4vw);
          margin-bottom: 1.5rem;
          padding: 0.2rem;
          word-wrap: break-word;
          white-space: normal;
          max-width: 100%;
        }

        .btn-dark {
          display: block;
          padding: 0.5rem 1rem;
          border: 0;
          margin: 0.3rem auto;
          background: darken($primary-color, 50);
          color: #fff;

          &:hover {
            background: $secondary-color;
            color: set-text-color($secondary-color);
          }

          i {
            margin-right: 0.5rem;
          }
        }

        &:hover {
          border-color: lighten($secondary-color, 10%);
        }
      }

      @include mediaSm {
        .flip-card-back {
          padding: 0.25rem;
        }

        .flip-card-back h3 {
          font-size: calc(0.8rem + 1vw);
        }

        .flip-card-back p {
          font-size: calc(0.6rem + 0.8vw);
        }

        .flip-card-back .btn-dark {
          padding: 0.4rem 0.8rem;
        }
      }

      @include mediaMd {
        .flip-card-back {
          padding: 0.2;
        }

        .flip-card-back h3 {
          font-size: calc(0.5rem + 1vw);
          margin-bottom: 0.1rem;
        }

        .flip-card-back p {
          font-size: calc(0.5rem + 0.6vw);
          margin-bottom: 0.1rem;
        }

        .flip-card-back .btn-dark {
          padding: 0.5rem 0.5rem;
        }
      }

      @include mediaLg {
        .projects {
          grid-template-columns: repeat(2, 1fr);
        }
        .flip-card-back {
          padding: 0.2;
        }

        .flip-card-back h3 {
          font-size: calc(0.5rem + 1vw);
          margin-bottom: 0.1rem;
        }

        .flip-card-back p {
          font-size: calc(0.4rem + 0.6vw);
          margin-top: 0.1rem;
          margin-bottom: 0.1rem;
        }

        .flip-card-back .btn-dark {
          padding: 0.5rem 0.5rem;
        }
      }

      @include mediaXl {
        .projects {
          grid-template-columns: repeat(3, 1fr);
        }
      }
    }
  }
}

.btn {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
  &:hover {
    background: $secondary-color;
    color: set-text-color($secondary-color);
  }
}

.btn-dark {
  @extend .btn;
  background: darken($primary-color, 50);
  color: #fff;
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($primary-color, 10);
  color: set-text-color($primary-color);
  height: 60px;

  .icons {
    display: flex;
    justify-content: center;
    gap: 50px;
    a {
      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }
}

@import "mobile";
