@import "config";
@import "menu";

* {
  box-sizing: border-box;
}

body {
  @include background();
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

// Headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
  &.lg-heading {
    font-size: 6rem;
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: lighten($primary-color, 2);
    width: fit-content;
  }
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 4rem;
  min-height: calc(100vh - 60px);

  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;

      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }

  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }
}

.portrait-img {
  position: fixed;
  bottom: 0px;
  right: 400px;
  width: 700px;
  height: auto;
}

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    "bioimage bio bio"
    "job1 job2 job3"
    "email phone address";
  grid-template-columns: repeat(3, 1fr);

  .bio-image {
    grid-area: bioimage;
    width: 250px;
    height: 250px;
    margin: auto;
    border-radius: 50%;
    border: $secondary-color 3px solid;
  }

  .bio {
    grid-area: bio;
    font-size: 1.5rem;
  }

  .job1 {
    grid-area: job1;
  }

  .job2 {
    grid-area: job2;
  }

  .job3 {
    grid-area: job3;
  }

  .job {
    background: lighten($primary-color, 5);
    padding: 0.5rem;
    border-bottom: $secondary-color 5px solid;
  }
  .meticulous,
  .curiosity,
  .people-driven {
    font-size: 2.2rem;
    color: $secondary-color;
    margin-bottom: 0.5rem;
  }

  .job h6 {
    font-size: 1.4rem;
    margin-top: 0;
    margin-bottom: 1rem;
  }
  .email-box {
    grid-area: email;
    div {
      font-size: 2rem;
      border: 3px #fff solid;
      padding: 1.5rem 2.5rem;
      margin-bottom: 3rem;
      @include easeOut;

      &:hover {
        padding: 0.5rem 1.5rem;
        background: $secondary-color;
        color: set-text-color($secondary-color);
        span {
          color: set-text-color($secondary-color);
        }
      }
    }
  }
  .phone-box {
    grid-area: phone;
    div {
      font-size: 2rem;
      border: 3px #fff solid;
      padding: 1.5rem 2.5rem;
      margin-bottom: 3rem;
      @include easeOut;

      &:hover {
        padding: 0.5rem 1.5rem;
        background: $secondary-color;
        color: set-text-color($secondary-color);
        span {
          color: set-text-color($secondary-color);
        }
      }
    }
  }
  .address-box {
    grid-area: address;
    div {
      font-size: 2rem;
      border: 3px #fff solid;
      padding: 1.5rem 2.5rem;
      margin-bottom: 3rem;
      @include easeOut;

      &:hover {
        padding: 0.5rem 1.5rem;
        background: $secondary-color;
        color: set-text-color($secondary-color);
        span {
          color: set-text-color($secondary-color);
        }
      }
    }
  }
}

.projects {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(3, 1fr);

  .item {
    position: relative;
    width: 100%;
    height: 100%;
    perspective: 1000px;

    .flip-card {
      position: relative;
      width: 100%;
      height: 100%;
      background-color: transparent;
      transition: transform 0.8s;
      transform-style: preserve-3d;

      &:hover {
        cursor: pointer;
      }

      &.flipped .flip-card-inner {
        transform: rotateY(180deg);
      }

      .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
      }

      .flip-card-front,
      .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
      }

      .flip-card-front {
        background-color: #bbb;
        color: black;

        img {
          width: 100%;
          height: auto;
          display: block;
        }
      }

      .flip-card-back {
        background-color: $primary-color;
        color: #fff;
        transform: rotateY(180deg);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: 100%;
        padding-top: 20%;

        h3 {
          font-size: 1.8rem;
          margin: 0.5rem 0;
        }

        p {
          font-size: 1rem;
          margin-bottom: 1.5rem;
        }

        .btn-dark {
          display: block;
          padding: 0.5rem 1rem;
          border: 0;
          margin: 0.3rem auto;
          background: darken($primary-color, 50);
          color: #fff;

          &:hover {
            background: $secondary-color;
            color: set-text-color($secondary-color);
          }

          i {
            margin-right: 0.5rem;
          }
        }
      }
    }
  }

  img {
    width: 100%;
    border: 3px #fff solid;
    transition: opacity 0.3s ease-out, border-color 0.3s ease-out;

    &:hover {
      opacity: 0.5;
      border-color: $secondary-color;
    }
  }
}

.btn {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
  &:hover {
    background: $secondary-color;
    color: set-text-color($secondary-color);
  }
}

.btn-dark {
  @extend .btn;
  background: darken($primary-color, 50);
  color: #fff;
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($primary-color, 10);
  color: set-text-color($primary-color);
  height: 60px;

  .icons {
    display: flex;
    justify-content: center;
    gap: 50px;
    a {
      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }
}

@import "mobile";
